body {
    margin: 0;
    height: 100%;
    background: linear-gradient(to right, rgb(243, 74, 63) 10%, rgba(214, 213, 213, 1) 40%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif; /* Asegurar una fuente legible */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}


/* Label styling */
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fffefe;
}

/* Input styling */
.form-control {
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

